.btn-movil
	padding: 5px 0px
	cursor: pointer
	text-align: center
	font-size: 18px
	width:100%
	font-weight: 700
	border: 1px solid transparent
	border-style: none
	vertical-align: middle
	display: inline-block
	// border-radius: 3px
	text-decoration:none
.btn
	padding: 10px 10px
	cursor: pointer
	text-align: center
	font-size: 12px
	font-weight: 100
	border: 1px solid transparent
	border-style: none
	vertical-align: middle
	display: inline-block
	margin-left:5px
	border-radius: 2px
	text-decoration:none
	
.btn-movil.btn-buy
	btn(#FFF, #DF2630, false, false)
.btn.btn-buy
	btn(#FFF, #DF2630, false, false)
.btn.btn-default
	btn(#fff,transparent,#fff, false)
