footer
	background-color:$blackColor
	padding:40px 0px
	border-top:1px solid #5D5D5D
	.foot-container
		width:320px
		.flex-container
			display:flex
			justify-content:space-around
			align-items:baseline
			
	.footer-text
		padding:20px
		boz-sizing:border-box
		text-align:center
		img
			width:15%
			padding-top:30px
			padding-bottom:10px
		p
			font-size:11px
			font-weight:100
			color:#888888