@media only screen and (min-width: 48em)
    .hidden-desk
        display:none
    #menu-mobil
        position:initial
        width:100%
        display:inline-block
    .menu ul.navegador
        position:initial
        background:none
        margin:auto
        padding:0
        height:auto
        list-style: none
        padding:0px 20px
    .menu ul.navegador li
        display:inline-block
    .menu ul.navegador ul.subnavegador li
        display:block
    .menu ul.navegador ul.subnavegador li a
        display:block
        box-sizing:border-box
    .menu .navegador li a
        display:inline-block
        width:100%
        padding:0px 10px
        box-sizing:border-box
        height:55px
        line-height:55px
        position:relative
        font-size:14px
        border-bottom:none
    ul.subnavegador
        position:absolute
        display:none
    .menu .navegador li a.desplegable
        &:after
            content: ''
            border: 4px solid transparent
            border-top: 4px solid white
            margin-left: 5px
            margin-bottom: 3px
            display: inline-block
            vertical-align: text-bottom
    .menu .navegador li.selected a.desplegable
        &:after
            border-top:0px
            border-bottom:4px solid white
            margin-bottom:6px
    .menu .navegador li:not([".selected"]) a.desplegable
        &:after
            content: ''
            border: 4px solid transparent
            border-top: 4px solid white
            margin-left: 5px
            margin-bottom: 3px
            display: inline-block
            vertical-align: text-bottom
    .navegador li a.sub-item
        &:before
            font-family: FontAwesome
            content:" \f068"
      
            font-size:12px
            margin-right:10px
        padding-left:25px
        background:rgba(255,255,255,0.9)
        color:$redColor
        font-weight:400
    .navegador li:hover
        background:rgba(255,255,255,0.3)
    .show-desk
        display:block
    header
        padding:0px 10px
        box-sizing:border-box
        min-height:55px
    #header-container
        display:flex
        align-items:center
        .header-nav
            display:inline-block
        .desk-buttons
            display:block
            position:absolute
            font-size:0
            right:0
            top:0
            a
                padding:20px
                margin:0
                font-size:12px
                text-transform:uppercase
            a:nth-child(1)
                background-color:transparent
                border-left:1px solid #fff
    .mobil-content
        display:none
    a.buy-ticket,ul.buttons
        display:none!important
    //Estilos Portada Principal
    section.portada
        height:100%
        overflow:hidden
        img
            width:50%
        .link-video
            display:none
    .container-events
        .item
            display:inline-block
            width:32%
    //Estilos Slider de Noticias
    .news-artist
        padding:20px 10px
        .premio
            margin:0 auto
            padding-left:50px
            li
                font-size:20px
                &:before
                    font-size:2em
                    position:absolute
                    margin-left:-50px
            p
                font-size:18px
    //ESTILOS CARROUSEL DE VIDEOS
    .wrapper
        width:50%
    //Estilos para Videos de Artistas por bloque
    .videos-container
        background:url("../img/bkgr-blur.jpg") center/ 230%
        // background-position: center -130%
        color:#000
        background-attachment:fixed
        .artist-img
            height:260px
        .artist-info
            color:#fff
            height:260px
            display:flex
            flex-direction:column
            justify-content:space-between
            .title
                h3,span
                    text-transform:uppercase
                h3
                    font-size:$h2
                    font-weight:700
                span
                    font-size:20px
                    font-weight:300
            .form-buttons
                display:flex
                justify-content:space-between
                a
                    width:40%
        .artist-img.item-2:before
            background:url("../img/img-alexis-y-fido.jpg") no-repeat center top / cover
        .artist-img.item-3:before
            background:url("../img/img-angel-khriz.jpg") no-repeat center top / cover
        .artist-img.item-4:before
            background:url("../img/img-j-alvarez.jpg") no-repeat center top / cover
    //EMPIEZAN ESTILOS DE PAGINA POR ARTISTA
    section.bkgr-artist
        min-height:80vh
        background:url("../img/bkgr-blur.jpg") no-repeat center / cover
        align-items:flex-end
        #info-artist
            // border:1px solid #fff
            margin-top:0px
            height:80%
            background:rgba(0,0,0,0.2)
        img
            width:100%
        img.artist
            display:none
    section.event-details
        padding:10px 0px
        img
            right:0
            width:75%
        .location
            padding:0
    .map
        background:$blackColor
        padding-bottom:30px
    #googleMap
        width:100%
        height:400px
        
