@media only screen and (min-width: 75em)
	section.portada.home
		height:102%
	.videos-container
		.artist-img
			height:320px
			a.view-more
				line-height:320px
		.artist-info
			height:320px
			padding:30px 20px
	#info-artist
		margin-top:10%!important
	section.bkgr-past
		#info-artist
			width:70%
			.artists-container .artist
				.item
					height:150px
					padding:0px 30px
                  

		